@import "../components/_settings/variables";

.document-container {
  overflow: scroll;
  justify-self: center;
  width: 100%;
  padding: $dist-m;
  @media screen and (max-width: 600px) {
    order: 2;
  }

  & > div {
    max-width: 850px;
    margin: auto;
  }

  & > h1 {
    color: $base-color;
  }
}
