.search-body {
  padding: 25px;
}

.search-grid {
  height: 100vh;
  display: grid;
  grid-template-rows: 90px 1fr;
  // grid-template-columns: 300px 1fr;

  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    height: inherit;
  }
}
