@import "../_settings/variables.scss";

.button-container {
  border: 1px solid $base-color;
  border-radius: 3px;
  padding: $dist-m;
  font-size: 2rem;
  color: $base-color;
  display: inline-block;
  transition: all 0.3s ease;

  &:hover {
    color: white;
    background: $base-color;
  }
}
