@import "../_settings/variables.scss";

.result-list {
  span {
    font-size: 2rem;
    padding-bottom: 15px;
  }

  ul {
    margin: 0;
    list-style: none;
    color: $base-color;
    li {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      p {
        color: black;
      }
      a {
        color: $base-color;
        &:hover {
          border:  none;
        }
      }
    }
  }
}

