.result-list {
  // display: flex;
  // flex-direction: column;
  // right: 25px;
  // width: 300px;
  // top: 70px;
  // padding: 25px;

  span {
    font-size: 2rem;
    padding-bottom: 15px;
  }

  ul {
    margin: 0;
    list-style: none;
    color: #0A4186;
    li {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      p {
        color: black;
      }
      a {
        color: #0A4186;
        &:hover {
          border:  none;
        }
      }
    }
  }
}

