.nav-container  {
  display: flex;
  width: 100%;
  padding-left: 100px;

  a {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    &:hover {
      border-color: white;
    }
  }
  .nav-link {
    font-size: 1.8rem;
    color: white;
    margin-right: 10px;
    font-weight: 200;
  }

  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    align-items: center;

    :nth-child(2n) {
      background: white;
      color: black
    }

    a.nav-link {
      text-align: center;
      margin-right: 0;
      padding: 15px;
      width: 100%;
    }

    span {
      display: none;
    }
  }
}
