@import "../_settings/variables.scss";

.toc-container {
  background: $white;
  overflow-y: scroll;
  min-width: 330px;
}

.toc-wrapper {
  padding: 15px;
  margin: 0;
}

.package-list {
  list-style: none;
  list-style-type: none;
  margin: 0;
}

.list-title {
  font-weight: 600;
  font-size: 2.5rem;
  color: $base-color;
  margin: 20px 0;
}

.package-title {
  font-size: 2rem;
  font-weight: 700;
  color: $base-color;
}

.folder-title {
  font-size: 1.8rem;
  font-weight: 500;
  padding-left: 10px;
  margin: 15px 0;
}

.folder {
  color: $base-color;
  font-size: 2rem;
  font-weight: bold;
}

.first-folder {
  margin-top: 20px;
  .entry-list-item {
    padding-left: 10px;
    a {
      font-size: 1.8rem;
    }
  }
}

.entry-list-item {
  a {
    font-size: 1.5rem;
    color: black;
  }
  padding-left: 20px;
  margin: 0;
  i {
    padding: 0 5px;
    margin: 0;
    font-size: 1.2rem;
  }
  a:hover {
    border-bottom: 1px solid black;
  }
  .fa-cubes {
    color: #9600FF;
  }
  .fa-cube {
    color: #4DA6FF;
  }
  .fa-vector-square {
    color: #81A226;
  }
  .fa-list {
    color: #CC9900;
  }
  .contracts {
    color: #FC2F00;
  }
  .models {
    color: #FCBF49;
  }
}


