@import "../_settings/variables.scss";

.toc-wrapper {
  padding: $dist-m;
  margin: 0
}

.title-link {
  color: black;
  font-weight: bold;
  font-size: 2.3rem;
}

.folder {
  color: $base-color;
  font-size: 2rem;
  font-weight: bold;
  .entry-title {
    font-size: 2rem;
    font-weight: bold;
    color: $base-color;
  }
}

.list-title {
  font-weight: 600;
  font-size: 2.8rem;
  color: $base-color;
}

.list-entry {
  font-weight: 600;
  font-size: 2.2rem;
}

.list-sub-entry {
  font-weight: 400;
  font-size: 1.8rem
}

.chapter-list-item {
  margin: 0;
}

.entry-title {
  display: inline-block;
  font-weight: 200;
  color: black;
  margin: 0;
  line-height: 1.5;
  border-bottom: 1px solid transparent;
  text-decoration: none;
}

.package-list {
  list-style: none;
  list-style-type: none;
  margin: 0;
  h5 {
    margin: 15px 0;
  }
  .entry-list-item {
    font-size: 1.4rem;
    padding-left: 10px;
    margin: 0;
    i {
      position: relative;
      padding: 0 5px;
    }
    a:hover {
      border-bottom: 1px solid black;
    }
    .fa-cubes {
      color: #9600FF
    }
    .fa-cube {
      color: #4DA6FF;
    }
    .fa-square {
      color: #81A226;
    }
    .fa-list {
      color: #CC9900;
    }
  }
}
