@import "../components/_settings/variables";

.main-logo {
  height: 65px;
}

main {
  text-align: center;
}

.logo-header {
  padding: 20px 100px;
}

.hero {
  padding: 50px 0;
  & > h1 {
    font-weight: 600;
    margin-bottom: 50px;
  }
  background: $base-color;
  color: $white;

  .search-bar {
    width: 600px;
  }
}

.index-head-container {
  background: $base-color;
  padding: $site-padding;
  text-align: center;
}

.body-container {
  padding: $site-padding;
  max-width: 650px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}
