@import "../components/_settings/variables";

.main-logo {
  height: 65px;
}

main {
  text-align: center;
}

.logo-header {
  padding: 20px 100px;
}

.hero {
  padding: (2 * $dist-m) 0;
  & > h1 {
    font-weight: 600;
    margin-bottom: 50px;
  }
  background: $base-color;
  color: $white;

  .search-bar {
    max-width: 50%;
  }
}

.index-head-container {
  background: $base-color;
  padding: $dist-m;
  text-align: center;
}

.body-container {
  max-width: 650px;
  margin: 3 * $dist-m auto;
  display: flex;
  justify-content: space-between;
}
