@import "../components/_settings/variables";

.main-logo {
  height: 65px;
}

main {
  text-align: center;
}

.logo-header {
  padding: 20px 100px;
}

.hero {
  padding: (2 * $dist-m) 0;
  & > h1 {
    font-weight: 600;
    font-size: 4rem;
    margin-bottom: 50px;
  }
  background: $base-color;
  color: $white;

  .search-bar {
    max-width: 50%;
  }
}

.index-head-container {
  background: $base-color;
  padding: $dist-m;
  text-align: center;
}

.body-container, .body-container-single {
  max-width: 650px;
  margin: 3 * $dist-m auto;
  display: flex;

}

.body-container {
  justify-content: space-between;
}

.body-container-single {
  justify-content: center;
}

h1 {font-size: 3rem;}
h2 {font-size: 2.5rem;}
h3 {font-size: 2rem;}
h4 {font-size: 1.4rem;}
h5 {font-size: 1rem;}
h6 {font-size: .6rem;}
