@import "../components/_settings/variables";

.search-page-container {
  flex-grow: 1;
  overflow-y: scroll;
  padding: $dist-m;
}

.search-title {
  font-size: 2.5rem;
  padding: 25px 0;
}

.search-suggestions {
  padding: 0 40px;
}

.toc-search-container {
  background: $white;
  overflow-y: scroll;
  min-width: 330px;
}

.toc-search-wrapper {
  padding: $dist-m;
}

.go-back-link {
  .fas {
    color: $link-color;
    padding: 0 10px;
  }
  a:hover {
    border-bottom: none;
  }
}
